#present {
  margin-bottom: 50px;
}

#present img {
  border-radius: 25px;
  margin-bottom: 50px;
}

#present h1 {
  font-size: 36px;
  line-height: 42px;
  color: #111;
  font-weight: bold;
  text-align: center;
}

#present p {
  font-size: 20px;
  line-height: 24px;
  color: #777;
  text-align: center;
}

section {
  margin-bottom: 39px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  display: inline;
  margin-left: 15px;
}

.showHide {
  border: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 14px;
  color: #999;
  font-weight: bold;
  margin-bottom: 23px;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.detailText {
  font-size: 18px;
  line-height: 28px;
  color: #444;
  text-align: justify;
  text-indent: 40px;
  margin-left: 15px;
}

.ingredients ul {
  margin-left: 30px;
}

.hidden {
  display: none;
}

.ingredients ul li {
  font-size: 18px;
  line-height: 28px;
  color: #444;
}
