.banner {
  display: flex;
  flex-wrap: wrap;
  background: #fbdfdb;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.banner .welcome {
  max-width: 40%;
  margin-left: 60px;
}

.banner .welcome h2 {
  font-weight: bold;
  font-size: 32px;
  margin-bottom: 10px;
}

.banner .welcome p {
  width: 100%;
  font-size: 18px;
  line-height: 28px;
  opacity: 0.7;
}

/*=== DESTAQUES ===*/
.popular {
  max-width: 940px;
  overflow: auto;
  padding-bottom: 60px;
}

.popular h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 0 auto;
  padding-bottom: 60px;
}

.card {
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 15px;
  margin-bottom: 20px;
}

.card-info p {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px;
}

.card-info span {
  font-size: 14px;
  color: #777;
  line-height: 16px;
}
