{% extends 'layout.njk' %}

{% block head %}
    <link rel="stylesheet" href="/styles/public/detail.css">
    <title>Detalhes receita</title>

{% endblock head %}

{% block content %}
    <div class="wrapper">
        <article id="main">
            <section id="present">
                <img src="{{infosRecipe.image}}" alt="Imagem de {{infosRecipe.title}}">

                <h1>{{infosRecipe.title}}</h1>
                <p>por
                    {{infosRecipe.author}}</p>

            </section>

            <section class="ingredients">
                <h2>Ingredientes</h2>
                <button id="btIng" class="showHide">MOSTRAR</button>

                <ul class="hidden">
                    {% for ingredient in infosRecipe.ingredients %}
                        <li>{{ingredient}};</li>
                    {% endfor %}
                </ul>
            </section>

            <section class="howToDo">
                <h2>Modo de preparo</h2>
                <button id="btHow" class="showHide">MOSTRAR</button>

                <p class="detailText hidden">{{infosRecipe.preparation}}</p>
            </section>

            <section class="information">
                <h2>Informações adicionais</h2>
                <button id="btInfo" class="showHide">MOSTRAR</button>

                <p class="detailText hidden">
                    {% if infosRecipe.information %}
                        {{infosRecipe.information}}

                    {% else %}
                        Não há nenhuma informação adicional relacionada a essa receita.
                    {% endif %}

                </p>
            </section>

        </article>
    </div>
    <script src="/js/detail.js"></script>
{% endblock content %}