{% extends 'layout.njk' %}
{% import '../components/_card.njk' as myCards%}

{% block head %}
    <link rel="stylesheet" href="/styles/public/home.css">
    <title>Foodfy</title>
{% endblock head %}

{% block content %}
    <div class="main">
        <section class="banner">
            <div class="welcome">
                <h2>As melhores receitas</h2>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <img src="/assets/chef.png" alt="Mascote">
        </section>

        <section class="popular">
            <h3>Mais acessadas</h3>

            <div class="cards">

                {% for card in data %}
                    {% if loop.index0 < 6 %}
                        {{myCards.createCard(card)}}
                    {% endif %}
                {% endfor %}

            </div>
        </section>
    </div>
    <script src="/js/landing.js"></script>
{% endblock content %}