{% block head %}
  <link rel="stylesheet" href="/style.css">
  <title>Foodfy</title>
  <script src="/script.js"></script>
{% endblock head %}

{% block header %}
  <header>
    <h1>
      <a href="/">
        <img src="/assets/logo.png" alt="Foodfy logo">
      </a>
    </h1>
  </header>
{% endblock header %}