{% extends 'layout.njk' %}
{% import './_card.njk' as myCards%}

{% block head %}
    <meta name="description" content="As melhores receitas, dos melhores chefs do mundo inteiro">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="/receitas.css">
    
    <title>Foodfy Receitas</title>
{% endblock head %}

{% block content %}
    <main class="cards">
        {% for card in data %}
            {{myCards.createCard(card)}}
        {% endfor %}

    </main>
</div>

{# 
<div class="modal-camada">
    <div class="modal">
        <div class="close-modal">
            <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <div class="modal-infos">
            <img src="" alt="">
            <p></p>
            <span></span>
        </div>
    </div>
</div> #}

<script src="/js/recipe.js"></script>
{% endblock content %}