.title {
  margin-top: 50px;
  margin-bottom: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.cards .card {
  display: flex;
  flex-wrap: wrap;
}

.card div:first-child {
  height: 80px;
  width: 172px;
  margin-right: 20px;
  border-radius: 8.57px;
}

.card .card-info p {
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 5px;
}

.card .card-info span {
  font-size: 14px;
  color: #777;
}

.card .card-info button {
  display: block;
  border: 0px;
  outline: 0px;
  background: transparent;
  margin-top: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #6558c3;
}
