{% extends 'layout.njk' %}
{% block head %}
    <link rel="stylesheet" href="/styles/sobre.css">
    <title>Foodfy - Sobre</title>
{% endblock head %}

{% block content %}
    <h1>Sobre o Foodfy</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio, dignissimos maiores quis voluptate in laborum totam voluptates commodi ad enim labore, dolorum alias tempora expedita rerum nam hic molestiae vero sapiente! Modi praesentium quidem in optio fugit voluptas neque nulla quae magni cupiditate, rem aspernatur dignissimos officia veniam repudiandae quod vero ab nostrum exercitationem, quis sint esse dolores aliquam deleniti! Modi, ratione veritatis. Voluptatum beatae architecto assumenda quidem, tempore
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nulla aliquid suscipit officiis deserunt voluptate illum explicabo a ullam fugit aut incidunt amet maxime ipsum minus, accusantium asperiores mollitia unde consequuntur quasi laudantium ducimus. Rerum illo ab molestiae, quidem consequuntur voluptatibus, adipisci atque asperiores ducimus numquam in deserunt iusto fugit quasi tenetur laboriosam nemo soluta officia cum, impedit aspernatur ea saepe? Neque adipisci sequi ipsa explicabo laudantium non magni numquam ipsam, saepe excepturi, aliquam itaque et repellat vel laborum aspernatur?
    </p>

    <h2>Como tudo começou...</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio, dignissimos maiores quis voluptate in laborum totam voluptates commodi ad enim labore, dolorum alias tempora expedita rerum nam hic molestiae vero sapiente! Modi praesentium quidem in optio fugit voluptas neque nulla quae magni cupiditate, rem aspernatur dignissimos officia veniam repudiandae quod vero ab nostrum exercitationem, quis sint esse dolores aliquam deleniti! Modi, ratione veritatis. Voluptatum beatae architecto assumenda quidem, tempore
    </p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Debitis nulla aliquid suscipit officiis deserunt voluptate illum explicabo a ullam fugit aut incidunt amet maxime ipsum minus, accusantium asperiores mollitia unde consequuntur quasi laudantium ducimus. Rerum illo ab molestiae, quidem consequuntur
    </p>

    <h2>Nossas receitas</h2>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquid optio, dignissimos maiores quis voluptate in laborum totam voluptates commodi ad enim labore, dolorum alias tempora expedita rerum nam hic molestiae vero sapiente! Modi praesentium quidem in optio fugit voluptas neque nulla quae magni cupiditate, rem aspernatur dignissimos officia veniam repudiandae quod vero ab nostrum exercitationem, quis sint esse dolores aliquam deleniti! Modi, ratione veritatis. Voluptatum beatae architecto assumenda quidem, tempore
    </p>
{% endblock content %}