{% extends "./layout.admin.njk" %}
{% import "../components/_form.admin.njk" as inputs %}

{% block head %}
    <title>Receitas | Criar</title>
    <link rel="stylesheet" href="/styles/admin/forms.admin.css"/>
{% endblock head %}

{% block content %}
    <form method="POST" action="/admin/recipes">
        <div class="container">
            <h2>Criar receita</h2>
            <button type="submit" class="buttons saveBt">Salvar receita</button>
        </div>

        <label for="image">Imagem da receita</label>
        {{ inputs.formsAdmin("image", "", "http://", "text") }}

        <label for="ingredients[]">Ingredientes</label>
        <div id="ingredient">
            <div class="ingredients">
                {{ inputs.formsAdmin("ingredients[]", "", "placeholder", "text") }}
            </div>
        </div>
        <button id="btNewIngredient" type="button">Adcionar novo ingrediente</button>

        <label for="steps[]">Modo de preparo</label>
        <div id="stepsContainer">
            <div class="step">
                {{ inputs.formsAdmin("steps[]", "", "", "text") }}
            </div>
        </div>
        <button id="btNewStep" type="button">Adicionar novo passo</button>

        <label for="moreInfo">Informações adicionais</label>
        <textarea name="moreInfo" cols="100" rows="15"></textarea>
    </form>

    <script src="/js/admin/create-recipe.js"></script>
{% endblock content %}