{% extends "./layout.admin.njk" %}
{% import "../components/_form.admin.njk" as inputs %}

{% block head %}
    <title>Receitas | Editar</title>
{% endblock head %}

{% block content %}
    <form method="POST" action="/admin/recipes?_method=PUT">
        <div class="container">
            <h2>Editando receita</h2>

            <div>
                <button type="submit" class="buttons deleteBt">Deletar</button>
                <button type="submit" class="buttons saveBt">Salvar receita</button>
            </div>
        </div>

        <label for="recipeUrl">Imagem da receita</label>
        {{ inputs.formsAdmin("recipeUrl", "", "http://", "text") }}

        <label for="ingredients[]">Ingredientes</label>
        <div id="ingredient">
            <div class="ingredients">
                {{ inputs.formsAdmin("ingredients[]", "", "placeholder", "text") }}
            </div>
        </div>
        <button id="btNewIngredient" type="button">Adcionar novo ingrediente</button>

        <label for="steps[]">Modo de preparo</label>
        <div id="stepsContainer">
            <div class="step">
                {{ inputs.formsAdmin("steps[]", "", "", "text") }}
            </div>
        </div>
        <button id="btNewStep" type="button">Adicionar novo passo</button>

        <label for="moreInfo">Informações adicionais</label>
        <textarea name="moreInfo" cols="100" rows="15"></textarea>
    </form>
{% endblock content %}