{% extends "./layout.admin.njk" %}
{% import "../components/_form.admin.njk" as inputs %}

{% block head %}
    <link rel="stylesheet" href="/styles/admin/forms.admin.css">
    <title>Receitas | Editar</title>
{% endblock head %}

{% block content %}
    <form method="POST" action="/admin/recipes?_method=PUT">
        <div class="container">
            <h2>Editar receita</h2>

            <div>
                <button type="submit" class="buttons deleteBt">Deletar</button>
                <button type="submit" class="buttons saveBt">Salvar receita</button>
            </div>
        </div>

        <label for="recipeUrl">Imagem da receita</label>
        {{ inputs.formsAdmin("recipeUrl", recipe.image, "http://", "text") }}

        <label for="ingredients[]">Ingredientes</label>
        <div id="ingredient">
            <div class="ingredients">
                {% for ingredient in recipe.ingredients %}
                    {{ inputs.formsAdmin("ingredients[]", ingredient, "placeholder", "text") }}
                {% endfor %}
            </div>
        </div>
        <button id="btNewIngredient" type="button">Adcionar novo ingrediente</button>

        <label for="preparation[]">Modo de preparo</label>
        <div id="stepsContainer">
            <div class="step">
                {% for preparation in recipe.preparation %}
                    {{ inputs.formsAdmin("preparation[]", preparation, "", "text") }}
                {% endfor %}
            </div>
        </div>
        <button id="btNewStep" type="button">Adicionar novo passo</button>

        <label for="moreInfo">Informações adicionais</label>
        <textarea name="moreInfo" cols="100" rows="15">{{ recipe.information }}</textarea>
    </form>
{% endblock content %}