* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}

html,
body {
  height: 100%;
}

main {
  min-height: 100%;
  overflow: auto;
  padding-bottom: 60px;
}

.wrapper-width {
  max-width: 940px;
  position: relative;
  min-height: 100%;
}

header {
  margin-bottom: 15px;
  padding: 20px;
}

header h1 {
  margin-right: 122.4px;
  display: inline;
}

header .links {
  display: inline;
}

header .links a {
  text-decoration: none;
  line-height: 19px;
  margin-left: 30px;
  padding: 5px;
  font-size: 16px;
  font-weight: 400;
  color: black;
}

#present {
  margin-bottom: 50px;
}

#present img {
  border-radius: 25px;
  margin-bottom: 50px;
}

#present h1 {
  font-size: 36px;
  line-height: 42px;
  color: #111;
  font-weight: bold;
  text-align: center;
}

#present p {
  font-size: 20px;
  line-height: 24px;
  color: #777;
  text-align: center;
}

section {
  margin-bottom: 39px;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  display: inline;
  margin-left: 15px;
}

.showHide {
  border: none;
  background-color: transparent;
  font-size: 12px;
  line-height: 14px;
  color: #999;
  font-weight: bold;
  margin-bottom: 23px;
  padding: 5px;
  cursor: pointer;
  outline: none;
}

.detailText {
  font-size: 18px;
  line-height: 28px;
  color: #444;
  text-align: justify;
  text-indent: 40px;
  margin-left: 15px;
}

.ingredients ul {
  margin-left: 30px;
}

.hidden {
  display: none;
}

.ingredients ul li {
  font-size: 18px;
  line-height: 28px;
  color: #444;
}

footer {
  /* position: relative; */
  width: 100%;
  height: 60px;
  padding: 20px;
  background-color: #eee;
}

footer p {
  font-size: 14px;
  color: #999;
  text-align: center;
  line-height: 16px;
}
