{% macro createCard(card, haveBtn) %}
    <div class="card">
        <div style="background: url({{ card.image }}) no-repeat center center/cover;"></div>
        <div class="card-info">
            <p>{{card.title}}</p>
            <span>por
                {{card.author}}</span>
            {% if haveBtn %}
                <a href="/admin/recipes/{{ card.index }}">Visualizar</a>
            {% endif %}
        </div>
    </div>

{% endmacro %}